.registrate__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $dark-gray;
    box-shadow: 0px 2px 5px $light-gray ;
    overflow: hidden;
    
    
    h1{
        font-size: 2rem;
        color: $light-gray;
        padding: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

#mc_embed_signup{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid $light-gray;
    border-radius: 12px;
    box-shadow: 0px 0px 5px $white-styled;
    padding: 2rem;
    width: 50vw;
    background-color: $black-gentle;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.registrate__input{
    
        margin: 1rem;
        height: 4vh;
        width: 40vw;
        outline: none;
        border-radius: 12px;
        padding: 1rem;
        border: none;
    
}
.registrate__submit{
    
        background-color: $pentakill;
        color: $light-gray;
        font-size: 2rem;
        font-weight: bold;
        box-shadow: -2px -2px 15px $dark-gray inset;
        transition: all 500ms;
        margin-top: 2rem;
        padding: 1rem;
        height: 15vh;
        width: 100%;

        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 1px $light-gray inset;
            transform: scale(1.05);
        }
}
@media (max-width: 600px) {
   
    .registrate__container{
        
        margin-left: 0;
        h1{
            margin-left: none
        }
     
    }
    #mc_embed_signup{
        width: 70vw;
    }
    .registrate__submit{
        font-size: 2ch;
    }

}